/*
http://paletton.com/#uid=13i0u0k2C7avT6Qey000M++vv++
*/

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #1f2222;
	color: #f9ffff;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #000000;
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
}

li {
	float: left;
	
}

h1 {
	text-align: center;
	margin: 80px 5px 20px 5px;
}

li a {
	display: block;
	text-decoration: none;
	padding: 10px;
	margin: 0px;
	color: #f9ffff;
}

li a:hover {
	background-color: rgba(255,255,255,.1);
}

#listItemMore {
	float: right;
}